<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora do Dev_Brunao</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="calculator">
        <form  method="post" action="/calcular">
        <input type="text" name="expressao" id="display" value="{{ expressao if expressao else '' }}" readonly>
        <div class="buttons">

        </div>
    </div>
    
</body>
</html>